body {
    background-color: rgb(100, 100, 100);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

footer {
    text-align: center;
    padding: 15px;
    color: #8f98a0;
    font-size: 12px;
    margin-top: 14%;
}

.container {
    margin-top: 10%;
    font-size: 20px;
    border: 1px solid rgb(48, 48, 48);
    padding: 5%;
    border-radius: 17px;
    box-shadow: 5px 5px 9px 5px rgb(48, 48, 48);
}

a {
    margin-top: 2%;
    margin-left: 16%;
    margin-right: 16%;
}
